                    /*
Theme Name: Landing Page Multimarca Venezuela
Theme URI: http://underscores.me/
Author: Yeison Reyes
Author URI: 
Description: Landig page Multimarca Venezuela
Version: 4.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: landingpage
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready


*/
                    

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
  @font-face {
    font-family: 'Bebas';
    src: url('/wp-content/fonts/BebasNeue-Regular.eot');
    src: url('/wp-content/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('/wp-content/fonts/BebasNeue-Regular.woff') format('woff'),
    url('/wp-content/fonts/BebasNeue-Regular.ttf') format('truetype'),
    url('/wp-content/fonts/BebasNeue-Regular.svg#Bebas') format('svg');
    font-weight: normal;
    font-style: normal;
    }
                html{
                    overflow-x: hidden !important;
                }

                    body {
                        font-family: 'Roboto';
                        font-weight: normal;
                        background-color: #f8f9fa;
                        color:#020138;
                        overflow-x: hidden !important;
                        }
                    
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-family: 'Bebas';
                        font-weight: 700;
                    }
                    
                    .titulos-m h1 {
                        text-align: left;
                        color: #020138 !important;
                        font-weight: 100;
                        opacity: 1;
                        letter-spacing: 1px;
                        font-size: 80px;
                        line-height: 90px;
                    }
					@media (max-width: 783px) {
                        .titulos-m h1{
                            font-size:50px;
                            line-height: 60px;
							text-align:center;
                        }
						.fondo-azul-1.col-3 {
                            margin-left: auto;
    						margin-right: auto;
   						 	position: relative;
    						top: 150px;
						}
						h3.sticker-1{
    					font-size: 40px;
    					line-height: 50px;
    					text-align: center;
							}
						h3.sticker-2 {
    					font-size: 40px;
    					line-height: 50px;
    					text-align: center;
							}
                    }
                    h3.sticker-1 {
                        text-align: center;
                        color: white;
                        opacity: 1;
                        margin: 0px;
                        font-size: 1.8rem;
                        line-height: 2rem;
                        letter-spacing: 2px;
                        font-family: 'Bebas';
                    }
                    h1.titulos-form {
                        text-align: left;
                        color: #020138 !important;
                        font-weight: 100;
                        opacity: 1;
                        letter-spacing: 1px;
                        font-size: 4rem;
                        line-height: 4rem;
                        padding-top: 16px;
                    }
                    
                    header.masthead {
                        position: relative;
                        background: url("/wp-content/uploads/2019/11/nissan-fondo.jpg") no-repeat 80% center;
                        background-size: cover;
                        padding-top: 0rem;
                        padding-bottom: 11rem;
                        border-top: solid 10px;
                        border-color: #0400A6;
                        box-shadow: 0px 8px 20px #a5a5a5;
                        margin-bottom:2rem;
                    
                    }
                    
                    .banner-1 {
                        position: absolute;
                        background: url("/wp-content/uploads/2019/11/banner-1.png") no-repeat center center;
                        background-size: contain;
                        padding-top: 6rem;
                        padding-bottom: 6rem;
                    }
                    
                    .redes {
                        height: 100px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding-right: 5px;
                    }
                    
                    .icono {
                        padding-right: 15px;
                    }
                    
                    
                    .separador-row .col-6 {
                        margin-bottom: 29px;
                    }
                    .banderin-1 {
                        background-color: #020138;
                        border-radius: 5px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                    }
                    .col-md-4.banderin-1:hover {
                        box-shadow: 0px 12px 20px #bfbfbf;
                        transition: .3s ease-in;
                    }
                    .col-md-4.banderin-1{
                        transition: .3s ease-in;
                    }

                    button.btn.btn-primary.btn-lg.btn-block:hover {
                        box-shadow: 0px 12px 20px #bfbfbf;
                        transition: .3s ease-in;
                    }
                    button.btn.btn-primary.btn-lg.btn-block{
                        transition: .3s ease-in;
                    }
                    
                    h4.banderin {
                        text-align: center;
                        color: white;
                        font-size: 2rem;
                        line-height: 2rem;
                        margin-top: 30px;
                        font-weight: 100;
                        letter-spacing: 2px;
                    }
                    
                    p.banderin {
                        color: white;
                        font-size: 1.25rem;
                        font-family: 'Roboto' !important;
                        text-align: center;
                        padding: 0px 0px 0rem 0px;
                        font-weight: 300;
                        max-width: 95%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .titulo-2 {
                        color: #020138;
                        font-family: 'Bebas';
                        margin: 1rem;
                        font-size: 55px;
                        text-align: center;
                    }
                    img.logo-azul {
                        width: 20%;
                    }
                    ul.lista-completa {
                        list-style: none;
                        text-align: left;
                        color: #020138;
                        font-size:18px;
                    }
                    .texto-normal{
                        color:#020138;
                        text-align: left;
                        font-family: 'Roboto';
                        font-size:18px;
                    }
                    .boton_reserva{
                        text-align:center;
                    }
                    hr {
                        color: #020138;
                        border: solid 1px;
                    }
                    
                    h2.subtitulo {
                        text-align: left;
                        color: #020138;
                        letter-spacing: 2px;
                    }
                    
                    p.subtitulo {
                        text-align: left;
                        color: #020138;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-family: 'Roboto';
                        font-size: 20px;
                    }
                    
                    .fondo-azul-1.col-3 {
                        -ms-flex: 0 0 25%;
                        /*flex: 0 0 30%;*/
                        max-width: 100% !important;
                    }
                    
                    
           
                    /**/
                    
                
                    
                    .fondo-azul-1 {
                        background-color: #02013899;
                        padding: 25px;
                        border-radius: 5px;
                    }
                    p.logo-2 {
                        text-align: center;
                    }
                    
                    h3.sticker-2 {
                        text-align: center;
                        font-weight: 100;
                        letter-spacing: 2px;
                        color: white;
                        opacity: 1;
                        font-size: 11rem;
                        margin: 0px;
                        line-height: 9rem;
                        padding: 4px;
                    }
                    carousel-item.active {
                        background-color: white !important;
                    }
                    .margen-carrusel{
                        margin-top:2rem;
                    }
                    
                    .btn-primary{
                        background-color: #020138 !important;
                        text-transform: uppercase;
                        box-shadow: 0px 3px 12px #00000029;
                        border-radius: 5px;
                        height: auto;
                        font-size: 2rem;
                        margin-top: 2rem;
                        font-family:'Bebas';
                        letter-spacing:2px;
                    }
                    .btn-second {
                        background-color: #020138 !important;
                        text-transform: uppercase;
                        border-radius: 5px;
                        height: auto;
                        font-size: 55px;
                        line-height: 45px;
                        margin-top: 1rem;
                        font-family: 'Bebas';
                        letter-spacing: 2px;
                        color: white;
                        text-align: center;
                        padding:40px;
                        padding-right: 14rem;
                        transition: .3s ease-in;
                    }
                    
                    .btn-second:hover{
                            color:white !important;
                            box-shadow: 0px 12px 20px #afafaf;
                            transition: .3s ease-in;
                    }
                    .btn-four {
                        background-color: #020138 !important;
                        text-transform: uppercase;
                        border-radius: 5px;
                        height: auto;
                        font-size: 55px;
                        line-height: 45px;
                        margin-top: 1rem;
                        font-family: 'Bebas';
                        letter-spacing: 2px;
                        color: white;
                        text-align: center;
                        padding:30px;
                        transition: .3s ease-in;
                    }
                    .btn-four:hover{
                        color:white !important;
                        box-shadow: 0px 12px 20px #afafaf;
                        transition: .3s ease-in;
                }
                    
                    p.second-text {
                        font-family: 'Roboto';
                        font-size: 35px;
                        margin: 0px !important;
                        padding: 0px !important;
                        text-transform: lowercase;
                        font-weight: 100 !important;
                    }
                    span.third-text {
                        font-size: 8rem;
                        line-height: 6rem;
                        position: absolute;
                    }
                    @media screen and (min-width: 600px){
                        .btn-second{
                            display:none;
                        }
                        a#link{
                            display:none;
                        }
                        a#link-2{
                            display:block;
                        }
                        h1.titulos-form {
                            text-align: left;
                            color: #020138 !important;
                            font-weight: 100;
                            opacity: 1;
                            letter-spacing: 1px;
                            font-size: 50px;
                            line-height: 56px;
                            padding-top: 10px;
                        }
                        .btn-four{
                            display:block;
                        }
                        
                    }
                    @media screen and (max-width: 605px){
                        .btn-second{
                            display:none;
                        }
                        a#link{
                            display:none;
                        }
                        
                    }
                
                   
                    @media (min-width: 360px) {
                        header.masthead {
                            padding-top: 2rem;
                            padding-bottom: 11rem;
							background:url("/wp-content/uploads/2019/11/nissan-fondo.jpg") no-repeat 80% 100%;
							background-size: cover;
                        }
                    
                    }
                    
                    .showcase .showcase-text {
                        padding: 3rem;
                    }
                    
                    .showcase .showcase-img {
                        min-height: 30rem;
                        background-size: cover;
                    }
                    
                    @media (min-width: 768px) {
                        .showcase .showcase-text {
                            padding: 7rem;
                        }
                        a#link-2{
                            display: none;
                        }
                        .btn-four{
                            display:none;
                        }
                        .btn-second{
                            display:block;
                        }
                    }
                    
                    
        
                    
                    .call-to-action {
                        position: relative;
                        background-color: #343a40;
                        background: url("../img/bg-masthead.jpg") no-repeat center center;
                        background-size: cover;
                        padding-top: 7rem;
                        padding-bottom: 7rem;
                    }
                    
                    .call-to-action .overlay {
                        position: absolute;
                        background-color: #212529;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0.3;
                    }
                    
                    footer.footer {
                        padding-top: 6rem;
                        padding-bottom: 6rem;
                    }
                    footer#colophon {
                        background: #71717280;
                    }
                    img.logo_footer {
                        height: 6rem;
                    }
                    footer#colophon {
                        padding: 2rem;
                        margin-top: 3rem;
                    }
                    .subtitulo-footer{
                        text-align: center;
                        color:white;
                    }
                    .forminator-row input select {
                        border-radius: 5px !important;
                    }
                    label.forminator-label {
                        font-size: 17px !important;
                        font-family: 'Roboto' !important;
                        font-weight: 400 !important;
                        color: #020138 !important;
                        text-align: left;
                    }
                    .forminator-select-list{
                        border-radius: 5px !important;
                    }
                    .text-center {
                        text-align: left !important;
                    }
                    button.forminator-button.forminator-button-submit {
                        background-color: #020138 !important;
                        padding: 15px 30px 15px 30px!important;
                        font-family: 'Bebas' !important;
                        font-size: 2em !important;
                        letter-spacing: 2px !important;
                        text-align: center !important;
                        border-radius:5px !important;
                        box-shadow: 0px 3px 12px #00000029 !important;
                    }
                    div#submit {
                        text-align: center;
                        font-size: 30px;
                    }
                    .col-md-4.borde {
                        border: solid 2px;
                        border-radius: 5px;
                        padding: 24px;
                    }
                     .d-block .d-sm-block .d-md-none {
                        padding: 24px;
                        border: solid 2px #020138;
                        border-radius: 5px;
                        margin: 15px;
                    }
                    a {
                        color:white !important;
                        text-decoration: none !important;
                    }
                    a:hover{
                        color:white !important;
                        text-decoration: none !important;
                    }
                    div#sidebar-movil {
                        padding: 6px;
                        margin: 15px;
                        border-radius: 5px;
                        border: solid 2px #020138;
                    }
					.borde {
                        border: solid 2px #020138;
                        border-radius: 5px;
                    }
                    a.navbar-brand img {
                        max-width: 100%;
                    }
                    a#btn_movil {
                        font-size: 48px;
                        line-height: 22px;
                    }
                    @media (min-height: 740px), handheld and (orientation: landscape)  {
                        a#link{
                            display:block;
                        }
                        a#link-2{
                            display:none;
                        }
                        
                        
                    }
@media (max-width: 320px) {
                        .vc_row.wpb_row.vc_row-fluid.textos-header.vc_custom_1573593569136.vc_row-has-fill.vc_row-no-padding.vc_row-o-full-height.vc_row-o-columns-top.vc_row-o-content-top.vc_row-flex 
                        {
							background:url("/wp-content/uploads/2019/11/nissan-fondo.jpg") no-repeat 80% 100%;
							background-size: cover;
                        }
                        .texto-g{
                            font-size:25px;
                        }
                        .texto-p{
                            font-size:22px;
                        }
                    }